// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us,ba"
            options "grp:alt_shift_toggle"
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        natural-scroll // Enable natural (macOS-style) scrolling
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-speed 0.0
    }

    // focus-follows-mouse // Disabled: only change focus on click or keyboard navigation
    warp-mouse-to-focus // Warp mouse to center of focused window on keyboard navigation
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
