    layout {
        gaps 7 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}
        
        focus-ring {
          width 2
          active-color "#cba6f7"
          inactive-color "#505050"
        }
        
        border {
          // The settings are the same as for the focus ring.
          // If you enable the border, you probably want to disable the focus ring.
          off

          width 3
          active-color "#ffc87f"
          inactive-color "#505050"
          urgent-color "#9b0000"
      }
    }
