# Unix
alias ll="ls -alh"
alias mkdir="mkdir -p"


# Apps & Services
alias es='$HOME/projects/es/elasticsearch-1.7.1/bin/elasticsearch'
alias simulator='open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app'
